<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" routerLink="home">Application Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <app-header></app-header>
    </div>
  </nav>
  <div class="container-fluid bodywalaHeight">
    <div class="row">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>