<ul class="navbar-nav animate side-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Home
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-item">Add List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="home">View List</a>
  </li>
</ul>
<ul class="navbar-nav ml-md-auto d-md-flex">
  <li class="nav-item">
    <a class="nav-link" routerLink="home">Home
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="add-item">Add List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="home">View list</a>
  </li>
</ul>